Repository whelk-io/maven-settings-xml-action, pull requests merged in 2021-06, with the labels that each got.

#95 Make maven central optional
  README.md
  dist/index.js
  dist/no_central_settings.xml
  package-lock.json
  package.json
  src/settings.js
  template/no_central_settings.xml
Labels: enhancement, maven-settings-xml-action

#99 feature/default profile repository
  README.md
  dist/index.js
  dist/template/default-repository.xml
  dist/template/settings.xml
  package-lock.json
  package.json
  src/index.js
  src/settings.js
  template/default-repository.xml
  template/no_central_settings.xml
  template/settings.xml
  test/resources/when-mirrors-present.xml
  test/resources/when-plugin-groups-present.xml
  test/resources/when-plugin-repositories-empty.xml
  test/resources/when-plugin-repositories-missing.xml
  test/resources/when-plugin-repositories-present.xml
  test/resources/when-profiles-present.xml
  test/resources/when-repositories-empty.xml
  test/resources/when-repositories-missing.xml
  test/resources/when-repositories-present.xml
  test/resources/when-servers-missing.xml
  test/resources/when-servers-present.xml
  test/resources/when-servers-with-extended-configuration.xml
  test/resources/when-servers-with-extended-properties.xml
  test/settings.test.js
  test/update-mirrors.js
  test/update-plugin-groups.js
  test/update-plugin-repositories.js
  test/update-profiles.js
  test/update-repositories.js
  test/update-servers.js
Labels: enhancement, maven-settings-xml-action

#103 feature/default active profile
  README.md
  action.yml
  dist/index.js
  dist/template/default-active-profile.xml
  dist/template/settings.xml
  src/settings.js
  template/default-active-profile.xml
  template/settings.xml
  test/resources/when-active-profiles-empty.xml
  test/resources/when-active-profiles-missing.xml
  test/resources/when-active-profiles-present.xml
  test/update-active-profiles.js
Labels: enhancement, maven-settings-xml-action

#104 feature/update local setup docs
  README.md
Labels: documentation, maven-settings-xml-action

#109 add unit tests for env variables, fixes #108
  test/resources/when-servers-with-env-variables.xml
  test/update-servers.js
Labels: enhancement, maven-settings-xml-action

#113 Add maven project to test with custom settings.xml
  .github/workflows/build.yml
  .gitignore
  README.md
  dist/index.js
  package.json
  src/index.js
  test/js/resources/when-active-profiles-empty.xml
  test/js/resources/when-active-profiles-missing.xml
  test/js/resources/when-active-profiles-present.xml
  test/js/resources/when-mirrors-present.xml
  test/js/resources/when-plugin-groups-present.xml
  test/js/resources/when-plugin-repositories-empty.xml
  test/js/resources/when-plugin-repositories-missing.xml
  test/js/resources/when-plugin-repositories-present.xml
  test/js/resources/when-profiles-present.xml
  test/js/resources/when-repositories-empty.xml
  test/js/resources/when-repositories-missing.xml
  test/js/resources/when-repositories-present.xml
  test/js/resources/when-servers-missing.xml
  test/js/resources/when-servers-present.xml
  test/js/resources/when-servers-with-env-variables.xml
  test/js/resources/when-servers-with-extended-configuration.xml
  test/js/resources/when-servers-with-extended-properties.xml
  test/js/update-active-profiles.js
  test/js/update-mirrors.js
  test/js/update-plugin-groups.js
  test/js/update-plugin-repositories.js
  test/js/update-profiles.js
  test/js/update-repositories.js
  test/js/update-servers.js
  test/maven/.mvn/wrapper/MavenWrapperDownloader.java
  test/maven/.mvn/wrapper/maven-wrapper.jar
  test/maven/.mvn/wrapper/maven-wrapper.properties
  test/maven/mvnw
  test/maven/mvnw.cmd
  test/maven/pom.xml
  test/maven/src/main/java/com/example/Service.java
  test/maven/src/test/java/com/example/ServiceTest.java
  test/maven/target/classes/com/example/Service.class
Labels: enhancement, maven-settings-xml-action

#112 Allow custom filename for output file
  .github/workflows/build.yml
  .gitignore
  README.md
  action.yml
  dist/index.js
  package-lock.json
  package.json
  src/index.js
  src/settings.js
  test/js/resources/when-active-profiles-empty.xml
  test/js/resources/when-active-profiles-missing.xml
  test/js/resources/when-active-profiles-present.xml
  test/js/resources/when-mirrors-present.xml
  test/js/resources/when-plugin-groups-present.xml
  test/js/resources/when-plugin-repositories-empty.xml
  test/js/resources/when-plugin-repositories-missing.xml
  test/js/resources/when-plugin-repositories-present.xml
  test/js/resources/when-profiles-present.xml
  test/js/resources/when-repositories-empty.xml
  test/js/resources/when-repositories-missing.xml
  test/js/resources/when-repositories-present.xml
  test/js/resources/when-servers-missing.xml
  test/js/resources/when-servers-present.xml
  test/js/resources/when-servers-with-env-variables.xml
  test/js/resources/when-servers-with-extended-configuration.xml
  test/js/resources/when-servers-with-extended-properties.xml
  test/js/update-active-profiles.js
  test/js/update-mirrors.js
  test/js/update-plugin-groups.js
  test/js/update-plugin-repositories.js
  test/js/update-profiles.js
  test/js/update-repositories.js
  test/js/update-servers.js
  test/maven/.mvn/wrapper/MavenWrapperDownloader.java
  test/maven/.mvn/wrapper/maven-wrapper.jar
  test/maven/.mvn/wrapper/maven-wrapper.properties
  test/maven/mvnw
  test/maven/mvnw.cmd
  test/maven/pom.xml
  test/maven/src/main/java/com/example/Service.java
  test/maven/src/test/java/com/example/ServiceTest.java
  test/maven/target/classes/com/example/Service.class
Labels: enhancement, maven-settings-xml-action

#116 Add codeql analysis automated workflow
  .github/workflows/codeql-analysis.yml
Labels: maven-settings-xml-action, pipeline

#115 Allow custom path for output file
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  action.yml
  dist/index.js
  package-lock.json
  package.json
  src/index.js
  src/settings.js
  test/js/resources/when-active-profiles-empty.xml
  test/js/resources/when-active-profiles-missing.xml
  test/js/resources/when-active-profiles-present.xml
  test/js/resources/when-mirrors-present.xml
  test/js/resources/when-plugin-groups-present.xml
  test/js/resources/when-plugin-repositories-empty.xml
  test/js/resources/when-plugin-repositories-missing.xml
  test/js/resources/when-plugin-repositories-present.xml
  test/js/resources/when-profiles-present.xml
  test/js/resources/when-repositories-empty.xml
  test/js/resources/when-repositories-missing.xml
  test/js/resources/when-repositories-present.xml
  test/js/resources/when-servers-missing.xml
  test/js/resources/when-servers-present.xml
  test/js/resources/when-servers-with-env-variables.xml
  test/js/resources/when-servers-with-extended-configuration.xml
  test/js/resources/when-servers-with-extended-properties.xml
  test/js/update-active-profiles.js
  test/js/update-mirrors.js
  test/js/update-plugin-groups.js
  test/js/update-plugin-repositories.js
  test/js/update-profiles.js
  test/js/update-repositories.js
  test/js/update-servers.js
  test/maven/.mvn/wrapper/MavenWrapperDownloader.java
  test/maven/.mvn/wrapper/maven-wrapper.jar
  test/maven/.mvn/wrapper/maven-wrapper.properties
  test/maven/mvnw
  test/maven/mvnw.cmd
  test/maven/pom.xml
  test/maven/src/main/java/com/example/Service.java
  test/maven/src/test/java/com/example/ServiceTest.java
  test/maven/target/classes/com/example/Service.class
Labels: enhancement, maven-settings-xml-action

#117 remove unused import
  dist/index.js
  src/index.js
Labels: bug, maven-settings-xml-action

#120 Fix java distribution for actions/setup-java
  .github/workflows/build.yml
Labels: github_actions, maven-settings-xml-action, pipeline
